In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/World_population"

# visit the website
res = requests.get(url)


# getting the html parser data
soup = BeautifulSoup(res.content, "html.parser")

print(soup.title)
print(soup.title.text)

# print(soup.prettify())

tables =soup.find_all('table')

dataframe = []
for i, table in enumerate(tables):
    rows = table.find_all("tr")[1:]
    data = []
    for row in rows:
        cals = row.find_all("td")
        cals = [cal.text.strip() for cal in cals]
        data.append(cals)
    df =pd.DataFrame(data)
    dataframe.append(df)
dataframe[0].head()

<title>World population - Wikipedia</title>
World population - Wikipedia

          0     1     2     3     4     5     6     7     8     9
0      1804  1927  1960  1974  1987  1999  2011  2022  2037  2057
1  200,000+   123    33    14    13    12    12    11    15    20